{{>layout/header}}

<div class="container">
    <h1>Login with</h1>
    <a href="/oauth2/authorization/google" class="btn btn-outline-dark btn-lg btn-block" role="button">Google</a>
    <a href="/oauth2/authorization/naver" class="btn btn-outline-success btn-lg btn-block" role="button">Naver</a>
    <a href="/oauth2/authorization/github" class="btn btn-outline-info btn-lg btn-block" role="button">Github</a>
</div>

{{>layout/footer}}